.controlsContainer {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftDropdowns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightDropdowns {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
